@font-face {
font-family: title;
src: url('https://static1.squarespace.com/static/5f0f3fd14b6dc24dbfc78b1b/t/63fbe55222f9c813064127e2/1677452626209/editorsnote-hairline-webfont.woff2');
}

@font-face {
font-family: title-italic;
src: url('https://static1.squarespace.com/static/5f0f3fd14b6dc24dbfc78b1b/t/63fbe5c7bcbbae4552bf9479/1677452743387/editorsnote-hairlineitalic-webfont.woff2');
}

.builder-v2-widget.tc-v2-widget-core_courses_heading.builder-v2-widget-unselectable:before {
    content: "";
    background-image: url(https://static1.squarespace.com/static/5f0f3fd14b6dc24dbfc78b1b/t/650efe7dfa23dc7f907073e6/1695481470005/CandorTemplates-39.png);
    display: inline-block !important;
    height: 16px !important;
    width: -webkit-fill-available !important;
   
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-bottom: 2.4em !important;
    margin-top: 2em !important;
}

html {
-moz-osx-font-smoothing: grayscale !important;
-webkit-font-smoothing: antialiased !important;
-font-smoothing: antialiased !important;
}

.builder-v2-content .thrivecart-courses-page .tc-v2-widget-core_courses_browser .builder-v2-block-core_courses_browser .tcc-browse-module+.tcc-browse-module {
    margin-top: 1.4em;
}

.thrivecart-courses-sidebar {
box-shadow: none !important;
}

.builder-v2-block-heading:not(u) {
font-weight: normal  !important;
}

.builder-v2-block-heading:not(u) i {
font-family: title-italic !important;
font-weight: normal  !important;
}

.tc-v2-widget-core_courses_heading .builder-v2-block-core_courses_heading h1 span {
font-family: 'title';
font-size: 30px !important;
font-weight: normal !important;
}

.tcc-course_control-info-text
{
font-family: 'title';
font-size: 20px !important;
font-weight: normal !important;
}

p i {
text-transform: uppercase !important;
font-style: normal !important;
letter-spacing: 1px !important;
font-size: 12px !important;
}

.builder-v2-block-heading u, .tcc-course_control-label-text, span.tcc-progress-amt-label, .tcc-progress-amt {
font-family: 'Poppins', sans-serif !important;
text-transform: uppercase !important;
font-style: normal !important;
letter-spacing: 1px !important;
font-size: 12px !important;
text-decoration: none !important;
}

p:not(i), .tc-v2-widget-text .builder-v2-block-text:not(i) {
font-size: 13px !important;
font-weight: 200 !important;
}



span.tcc-browse-lesson-name-text {
font-weight: normal !important;
font-size: 12px !important;
letter-spacing: 0px !important;
}


.tcc-browse-lesson-name-inner {
padding-top: 3px !important;
padding-bottom: 3px !important;
}

.tcc-browse-lesson-name-inner::before {
border-color: #cfcecd !important;
}

.thrivecart-site .tc-v2-widget-bullets .tc-bullet_style-plain p::before {
content: "—";
left: 0px;
top: 0px !important;
font-weight: normal !important;
font-family: 'Poppins' !important;
}

span.tcc-browse-module-name {
border-bottom: 1px solid #cfcecd;
margin-bottom: 9px;
padding-bottom: 9px !important;
text-transform: uppercase !important;
font-size: 12px !important;
font-weight: normal !important;
letter-spacing: 1px;
}

.tcc-browse-item-logo {
display: none !important;
}

.builder-v2-widget.tc-v2-widget-core_courses_heading.builder-v2-widget-unselectable {
    padding: 0 1.3em;
}

.tc-v2-widget-core_courses_heading .builder-v2-block-core_courses_heading h1:after {
    content: 'Welcome! Make your way through our tried and tested process below to go from template to launch in just 5 steps.';
    font-size: 12px !important;
    font-weight: normal !important;
    margin-bottom:  2.4em !important;
    margin-top: 10px;
    display: block !important;
    line-height: 1.5em !important;
}

.thrivecart-html b, .thrivecart-html strong {
    font-weight: normal !important;
}

.tc-v2-widget-core_courses_control_next .tcc-course_control-label .tcc-course_control-label-text {
    font-weight: normal !important;
    text-transform: uppercase !important;
font-size: 12px !important;
font-weight: normal !important;
letter-spacing: 1px;
}

.thrivecart-courses-header .thrivecart-courses-header-profile p,
.thrivecart-site .thrivecart-courses-header-return .tcc-button  {
font-family: 'Poppins', sans-serif !important;
text-transform: uppercase !important;
font-style: normal !important;
letter-spacing: 1px !important;
font-size: 12px !important;
     font-weight: normal !important;
}

.thrivecart-courses-sidebar-inner {
    border-right: 1px solid #cfcecd;
}
.thrivecart-courses-header-wrap {
    border-bottom: 1px solid #cfcecd;
}

li.faq-questions-block {
    padding: 8px 12px !important;
    margin-bottom: 5px !important;
}
