@font-face {
font-family: title;
src: url('https://static1.squarespace.com/static/5f0f3fd14b6dc24dbfc78b1b/t/63fbe55222f9c813064127e2/1677452626209/editorsnote-hairline-webfont.woff2');
}

@font-face {
font-family: title-italic;
src: url('https://static1.squarespace.com/static/658d77d73558cb11d539330f/t/6595fb64e1f3877c9b11155e/1704328037038/ed_sonar-regular-webfont.woff2') format('woff2'),
url('https://static1.squarespace.com/static/658d77d73558cb11d539330f/t/6595fb64931f0028d82701dd/1704328037055/ed_sonar-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

:root {
--accent-family: 'Poppins', sans-serif ;
--accent-size: 11px ;
--accent-weight: 100;
--accent-transform: uppercase ;
--accent-style: normal ;
--accent-spacing: 2px ;
--accent-decoration-color: #eceae6;

}

.thrivecart-body {
--course-lesson-divide-color: #E9E9E9;
}

html {
scroll-behavior: smooth !important;
}
a {
cursor: pointer !important;
}

.thrivecart-body.tc-course_nav_accordion .tc-v2-widget-core_courses_browser .tcc-browse-module.current .tcc-browse-module-content::before {
display: none !important;
}

table.tableizer-table {
width: -webkit-fill-available;
color: #000000 !important;
font-size: 13px !important;
}

.tableizer-table tr {
border-bottom: 1px solid #eceae6;
}

.tableizer-table td {
padding: 7px;
}

.tableizer-table tr > td:not(:first-of-type) {
text-align: center !important;
}

.tableizer-table tr > th:not(:first-of-type) {
text-align: center !important;
}

.button .builder-v2-block.builder-v2-block-plaintext {
font-size: 12px !important;
text-transform: uppercase !important;
}

button.button {
font-size: 12px !important;
padding: 7px 23px !important;
letter-spacing: 1px !important;
text-transform: uppercase !important;
}

.tc-v2-widget-text .builder-v2-block-text:not(i) b {
font-weight: 600 !important;
}

.candor-notice {
display: flex !important;
align-items: center !important;
padding: 20px 24px !important;
background: #f8f7f6 !important;
font-size: 13px !important;
color: black !important;
column-gap: 20px !important;
line-height: 1.6em;
}

.candor-notice img {
height: 14px !important;
aspect-ratio: 1 / 1 !important;
display: flex !important;
justify-content: center !important;
width: -webkit-fill-available !important;
}

.candor-notice a {
color: currentColor !important;
text-underline-position: under !important;
text-decoration-color: #eceae6 !important;
}

.builder-v2-block-text:not(i) a {
text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.builder-v2-widget.tc-v2-widget-core_courses_heading.builder-v2-widget-unselectable:before {
content: "";
background-image: url(https://static1.squarespace.com/static/5f0f3fd14b6dc24dbfc78b1b/t/650efe7dfa23dc7f907073e6/1695481470005/CandorTemplates-39.png);
display: inline-block !important;
height: 16px !important;
width: -webkit-fill-available !important;

background-size: contain !important;
background-repeat: no-repeat !important;
margin-bottom: 2.4em !important;
margin-top: 2em !important;
}

html {
-moz-osx-font-smoothing: grayscale !important;
-webkit-font-smoothing: antialiased !important;
-font-smoothing: antialiased !important;
}

.builder-v2-content .thrivecart-courses-page .tc-v2-widget-core_courses_browser .builder-v2-block-core_courses_browser .tcc-browse-module+.tcc-browse-module {
margin-top: 1.4em;
}

.thrivecart-courses-sidebar {
box-shadow: none !important;
}

.builder-v2-block-heading:not(u) {
font-weight: normal  !important;
}

.builder-v2-block-heading:not(u) i {
font-family: 'Poppins', sans-serif;
font-weight: normal  !important;
}

.tc-v2-widget-core_courses_heading .builder-v2-block-core_courses_heading h1 span {
font-family: 'Poppins', sans-serif;
font-size: 30px !important;
font-weight: normal !important;
}

.tcc-course_control-info-text
{
font-family: 'Poppins', sans-serif;
font-size: 20px !important;
font-weight: normal !important;
text-transform: none !important;
}

p i {
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
  text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.builder-v2-block-heading u, .tcc-course_control-label-text, span.tcc-progress-amt-label, .tcc-progress-amt {
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.builder-v2-content .builder-v2-widget.tc-v2-widget-core_courses_control_next[data-attr_text_padding="2"] .button
{
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
  text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

p:not(i), .tc-v2-widget-text .builder-v2-block-text:not(i) {
font-size: 13px !important;
font-weight: 200 !important;
}



span.tcc-browse-lesson-name-text {
font-weight: normal !important;
font-size: 12px !important;
letter-spacing: 0px !important;
}


.tcc-browse-lesson-name-inner {
padding-top: 3px !important;
padding-bottom: 3px !important;
}

.tcc-browse-lesson-name-inner::before {
border-left-color: #eceae6 !important;
}

.thrivecart-site .tc-v2-widget-bullets .tc-bullet_style-plain p::before {
content: "—";
left: 0px;
top: 0px !important;
font-weight: normal !important;
font-family: 'Poppins' !important;
}

span.tcc-browse-module-name {
border-bottom: 1px solid #eceae6;
margin-bottom: 9px;
padding-bottom: 9px !important;
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
  text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.tcc-browse-item-logo {
display: none !important;
}

.builder-v2-widget.tc-v2-widget-core_courses_heading.builder-v2-widget-unselectable {
padding: 0 1.3em;
}

.tc-v2-widget-core_courses_heading .builder-v2-block-core_courses_heading h1:after {
content: 'Welcome! Make your way through our tried and tested process below to go from template to launch in just 5 steps.';
font-size: 12px !important;
font-weight: normal !important;
margin-bottom:  2.4em !important;
margin-top: 10px;
display: block !important;
line-height: 1.5em !important;
}

.thrivecart-html b, .thrivecart-html strong {
font-weight: normal !important;
}

.tc-v2-widget-core_courses_control_next .tcc-course_control-label .tcc-course_control-label-text {
font-weight: normal !important;
text-transform: uppercase !important;
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
  text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.thrivecart-courses-header .thrivecart-courses-header-profile p,
.thrivecart-site .thrivecart-courses-header-return .tcc-button  {
font-family: var(--accent-family) !important;
font-size: var(--accent-size) !important;
font-weight: var(--accent-weight) !important;
text-transform: var(--accent-transform) !important;
font-style: var(--accent-style) !important;
letter-spacing: var(--accent-spacing) !important;
  text-decoration-color: var(--accent-decoration-color) !important;
text-underline-position: under !important;
}

.thrivecart-courses-sidebar-inner {
border-right: 0px solid #eceae6 !important;
}
.thrivecart-courses-header-wrap {
border-bottom: 1px solid #eceae6;
}

li.faq-questions-block {
padding: 8px 12px !important;
margin-bottom: 5px !important;
}

.thrivecart-site .tc-v2-widget-bullets .tc-bullet_style-numbered p::before {
text-align: left !important;
font-weight: normal !important;
}

.builder-v2-widget.tc-v2-widget-faq .faq-questions .faq-questions-answer-inner {
padding: 0.5em;
}
